<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/">{{ .Site.Title }}</a></h1>
      <p class="lead">
      {{ .Site.Params.description }}
      </p>
      <p>
        {{ with .Site.Params.githubURL }}<a href="{{ . }}"><i class="fa fa-github-square fa-2x"></i></a>{{ end }}
        {{ with .Site.Params.facebookURL }}<a href="{{ . }}"><i class="fa fa-facebook-square fa-2x"></i></a>{{ end }}
        {{ with .Site.Params.twitterURL }}<a href="{{ . }}"><i class="fa fa-twitter-square fa-2x"></i></a>{{ end }}
        {{ with .RSSLink }}<a href="{{ . }}"><i class="fa fa-rss-square fa-2x"></i></a>{{ end }}
      </p>
    </div>

    <ul class="sidebar-nav">
      {{ range .Site.Menus.main }}
        <li><a href="{{.Url}}"> {{ .Name }} </a></li>
      {{end}}
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></li>
      {{ end }}
    </ul>

    <p><i class="fa fa-copyright fa-flip-horizontal"></i> {{.Now.Format "2006"}}. All wrongs reserved</p>
  </div>
</div>
